[submodule "web/secure/purchasing"]
	path = web/secure/purchasing
	url = https://github.com/badgerloop-software/purchasing
[submodule "web/secure/wiki"]
	path = web/secure/wiki
	url = https://github.com/badgerloop-software/wiki
