#youtube-videos { width: 100%; }
#youtube-videos div {
	padding: .5em;
	margin: 1em;
	border-radius: 1em;
	vertical-align: middle;
}

.dark-body {
	background-color: rgba(49, 49, 49, 0.9);
	color: white;
	display: inline-block;
	border-radius: 1em;
	padding: 0em 1em;
	margin: 2em;
}

@media only screen and (max-width: 768px) {
	#home-body { max-width: 95%; }
	#home-body p { font-size: 1em; }
}

.text-body p { text-align: left; }
.text-body {
	font-size: 1.5em;
	background-color: rgba(49, 49, 49, 0.9);
	color: white;
	margin: 1em;
	padding: 0.5em 1.5em;
	word-wrap: normal;
	float: left;
	max-width: 42%;
	display: inline-block;
}

.reveal-photo{
	max-width: 45%;
	height: 65em;
	margin-top: 3em;
}

.photobox {
	display: inline-block;
	margin: 0em;
	margin-top: 2em;
}

.photobox img {
	max-height: 40em;
	max-width: 80%;
	border-radius: 1em;
}

.dark-body hr {
	margin-top: 3em;
	margin-bottom: 1.5em;
	width: 90%;
	border-width: .5px;
	display: inherit;
	border-style: solid;
}

.reveal-details {
	text-align: left;
	margin-bottom: 2.5em;
}

.reveal-details li {
	margin: .4em;
}

.subheading {
	font-size: 1.5em;
	margin-bottom: .1em;
	margin-top: .5em;
}

@media only screen and (min-width: 992px) {
	.reveal {
		padding-left: 4em;
		padding-right: 4em;
	}
}
