/*****************************************************************************/
/*                                Globals                                    */
/*****************************************************************************/
hr {
    margin: 0em;
	border-style: solid;
    border-width: 0.5em;
}

html {
    font-family: 'Montserrat';
}

#main_container {
    height: 100vh;
}

iframe {
	border: none;
	margin: 1em;
}

#ng-view-container {
	position: relative;
	background: url('../im/background/award1-fullres.jpg') center center no-repeat, linear-gradient(black, white);
}

#navbar-img {
	width: 5em;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em
}

.social img {
    height: 2em;
    margin: 1em;
    vertical-align: middle;
}

.social .md-button {
    min-width: 2em;
}

a { text-decoration: none; }
a:link { color: #F44336; }
a:visited { color: #9B1C1F; }
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/*                                Defaults                                   */
/*****************************************************************************/
.page-content {
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0.5em;
	overflow-x: hidden;
}

.inner1 {
	border-radius: 2em;
	width: 95%;
}

.inner2 {
	width: 100%;
}

#under-construction {
  font-size: 70px;
}

#ng-view-parent {
	overflow-x: hidden; 
	overflow-y: auto;
}

#line {
	font-size: 25px;
}

#centered {
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*****************************************************************************/
/*****************************************************************************/
