/*****************************************************************************/
/*                                Globals                                    */
/*****************************************************************************/
hr {
  margin: 0em;
	border-style: solid;
  border-width: 0.5em;
}

html {
    font-family: 'Montserrat';
}

h1 {
  font-size: 48px;
}

#main_container {
    height: 100vh;
}

iframe {
	border: none;
	margin: 1em;
}

#ng-view-container {
	position: relative;
	background: url('../im/background/award1-fullres.jpg') center center no-repeat, linear-gradient(black, white);
}

#navbar-img {
	width: 5em;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em
}

.social img {
    height: 2em;
    margin: 1em;
    vertical-align: middle;
}

.social .md-button {
    min-width: 2em;
}

a { text-decoration: none; }
/*a:link { color: #F44336; } Fixes differing color on about page hyperlinks */
a:visited { color: #9B1C1F; }
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/*                                Defaults                                   */
/*****************************************************************************/
.page-content {
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0.5em;
	overflow-x: hidden;
}

.inner1 {
	border-radius: 2em;
	width: 95%;
}

.inner2 {
	width: 100%;
}

#ng-view-parent {
	overflow-x: hidden;
	overflow-y: auto;
}

#splash_screen {
	position: absolute;
	left: 0; top: 0;
	z-index: 100;
	width: 100vw; height: 100vh;
	background-color: white;
	text-align: center;
	white-space: nowrap;
	-webkit-animation: loading_screen 2.5s ease-in 0s 1 normal forwards paused;
	animation: loading_screen 2.5s ease-in 0s 1 normal forwards paused;
}
@-webkit-keyframes loading_screen { from { opacity: 1; } to { opacity: 0; } }
@keyframes loading_screen { from { opacity: 1; } to { opacity: 0; } }

.image_helper {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}

#splash_logo {
	vertical-align: middle;
	width: 95%;
}

#under-construction {
  font-size: 70px;
}

#line {
	font-size: 25px;
}

#centered {
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/*                              Contact Form                                 */
/*****************************************************************************/
#contact-page {
	font-size: 1.25em;
	width: 100%;
}

#contact-page .center-la {
	text-align: left;
	display: inline-block;
	padding: 0em 1em;
}

#contact-page .form-style {
	background-color: rgba(50, 50, 50, 0.9);
	color: white;
	border-radius: 1em;
	padding: 1em;
	max-width: 90%;
	margin: 1em;
}

.short-input {
	max-width: 35em;
	margin: 0.5em;
}

.form-event {
	padding: 1em;
	border-radius: 1em;
	visibility: hidden;
	margin: auto;
	display: none;
}

.form-error { background-color: rgba(237, 83, 35, 0.7); }
.form-success { background-color: rgba(0, 255, 0, 0.7); }
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/*                               Team Page                                   */
/*****************************************************************************/
.card {
	border-radius: 2em;
	width: 20em;
	color: white;
	margin: 1em;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
}

.card .img {
	border-radius: 50%;
	max-width: 60%;
	margin-top: 1.5em;
}

.linkedin_icon{
  width: 1.2em;
  height: 1.2em;
  margin-left: 6.5em;
  margin-top: .2em;
  margin-bottom: .25em;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  margin-top: .5em;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-left: .2em;
  color: #A7A7A7;
}

.card .info {
	text-align: left;
	padding: 1em 2em;
	padding-top: 0em;
}
/*****************************************************************************/
/*****************************************************************************/
