#sponsor-slideshow {
	position: relative;
	margin-top: 0.5em;
	animation: slideshow 15s linear infinite;
	transform: translate3d(0, 0, 0);
	display: inline-block;
	white-space: nowrap;
}

#sponsor-slideshow img {
	height: 200px;
}

#sponsor-slideshow span {
	padding-left: 0.5em;
	padding-right: 0.5em;
	vertical-align: middle;
}
