/* Gotta figure out the equation for the offset */
@keyframes slideshow {
	0%		{ left: 0; }
	100%	{ left: calc(-15100px); }
}

#sponsor-slideshow {
	position: relative;
	margin-top: 0.5em;
	animation: slideshow 35s linear infinite;
	transform: translate3d(0, 0, 0);
	display: inline-block;
	white-space: nowrap;
}

#sponsor-slideshow img {
	height: 200px;
}

#sponsor-slideshow span {
	margin-left: 0.5em;
	margin-right: 0.5em;
	vertical-align: middle;
}

