<md-toolbar md-whiteframe="6" style="padding: 0.5em 0.25em">
	<div class="md-toolbar-tools" layout-align="space-between center">

		<md-button class="md-button" ng-click="changeView(homeButton)" ng-disabled="homeButton.enabled" aria-label="home" style="margin: 0.5em"> <!---->
			<img id="navbar-img" src="../im/logos/Flat-White-Logo.png">
			<md-tooltip md-direction="bottom">HOME</md-tooltip>
		</md-button>

		<span flex></span>

		<md-button hide show-gt-sm ng-repeat="button in buttons"
			style="padding: 0.5em 1em" ng-click="changeView(button)"
			ng-disabled="button.enabled">
			{{button.text}}
		</md-button>

		<!-- <span hide-gt-sm>Welcome<span hide show-sm> to Badgerloop</span></span> -->

		<span flex></span>

		<md-menu hide-gt-sm>
			<md-button ng-click="$mdOpenMenu()" aria-label="menu" class="md-icon-button">
				<i class="material-icons">menu</i>
			</md-button>
			<md-menu-content width="4">
				<md-menu-item ng-repeat="button in buttons">
					<md-button ng-click="changeView(button)" ng-disabled="button.enabled">
						<span style="text-transform: uppercase">{{button.text}}</span>
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>

		<a hide show-gt-sm href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=9805681026.243824427616" style="margin-right:2em">
			<img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
		</a>

		<md-button class="md-raised" target="_newtab" href="https://secure.supportuw.org/give/">
			Donate
			<md-tooltip> Enter "Badgerloop Fund" as the fund name </md-tooltip>
		</md-button>

	</div>
</md-toolbar>
