<div class="page-content inner2" md-whiteframe="9">
	<h1 style="margin-top: -.1em;"> Thank you sponsors! </h1>
	<div id="sponsor-slideshow">
		<span ng-repeat="tier in sponsor_keys">
			<span ng-repeat="sponsor in sponsors[tier]">
				<a ng-href="{{sponsor.site}}" target="_newtab">
					<img ng-src="../im/sponsor/{{sponsor.img}}.png">
				</a>
			</span>
		</span>

		<!-- To make sure infinite scroll doesn't have a gap -->
		<span ng-repeat="tier in sponsor_keys">
			<span ng-repeat="sponsor in sponsors[tier]">
				<a ng-href="{{sponsor.site}}" target="_newtab">
					<img ng-src="../im/sponsor/{{sponsor.img}}.png">
				</a>
			</span>
		</span>
	</div>

	<h2 style="margin: 1em">{{header}} Click
		<a href="#/sponsorship" target="_newtab">here</a>
		to learn more about sponsorship
	</h2>
</div>
