<div ng-controller="studentFormController">
	<form-error></form-error>
	<form-success></form-success>
	<form name="studentForm" class="center-la form-style" md-whiteframe="3" md-theme="dark">

		<!-- Name -->
		<md-input-container class="md-block short-input">
			<label>Name</label>
			<input name="name" type="text" required ng-model="data.name" />
		</md-input-container>

		<!-- Email -->
		<md-input-container class="md-block short-input">
			<label>Email</label>
			<input name="email" type="text" required ng-model="data.email" 
					minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
			<div ng-messages="studentForm.email.$error">
				<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
					Please enter a valid e-mail address.
				</div>
			</div>
		</md-input-container>

		<!-- Major -->
		<md-input-container class="md-block short-input">
			<label>Major</label>
			<input type="text" name="major" ng-model="data.major" />
		</md-input-container>

		<!-- Year -->
		<md-input-container class="md-block short-input">
			<label>Year</label>
			<md-select required name="year" ng-model="data.year">
				<md-option ng-repeat="year in years" value="{{year}}">
					{{year}}
				</md-option>
			</md-select>
		</md-input-container>

		<!-- Teams -->
		<div class="md-block short-input">
			<u>Teams Interested In</u>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#/team">(What does each team do?)</a>
			<br><br>
			<div ng-repeat="team_group in teams">
				<h3>{{team_group.name}}</h3>
				<div ng-repeat="team in team_group.data">
					<md-checkbox
						ng-checked="check_selected(team.name, data.teams_selected)"
						ng-click="toggle_selected(team.name, data.teams_selected)">
						{{team.name}} - <i>{{team.description}}</i>
					</md-checkbox>
				</div>
			</div>
		</div>

		<!-- Bio -->
		<br>Tell us about yourself.<br><br>
		<md-input-container class="md-block short-input">
			<label>Brief Description</label>
			<textarea required name="description" ng-model="data.description"></textarea>
		</md-input-container>

		<!-- Submit -->
		<div style="text-align: center">
			<md-button ng-disabled="submitted" class="md-raised"
			ng-click="submit(student)">Submit</md-button>
		</div>
	</form>
</div>
