<style>

.dark-body {
	background-color: rgba(50, 50, 50, 0.9);
	color: white;
	display: inline-block;
	width: 40em;
	height: 30em;
	padding: 0.5em 1em;
	margin-bottom: 2em;
}

.dark-body p {
	font-size: 1.25em;
	display: inline-block;
}

.title{
	font-size: 48px;
}


#team_photo{
	width: 70em;
	height: 35em;
	margin-top: 1.5em;
}

#photoandtext{
	display: inline-block;
}

#container{
	display: flex;
	align-items: center;
}

</style>


<div class="page-content inner2" md-whiteframe="9">
<h2 class="title">About Us</h2>

<div id="container">

<div id="photoandtext">
	<figure>
		<img src="../im/team/Team-Photo-Narrow.png" id = "team_photo">
		<figcaption><b>Our Team</b></figcaption>
	</figure>
</div>

<!--<div class="dark-body" md-whiteframe="3">
	<p>Founded in the Summer of 2015, Badgerloop is a student organization at the
	University of Wisconsin-Madison helping determine if <a href="https://en.wikipedia.org/wiki/Hyperloop" target="_newtab">
	</a>Hyperloop technology could become a reality. <a href="#/team">Our members</a>
	come from a wide variety of majors, degree programs and majors. We provide members with the unique
	opportunity to work on real world engineering and transportation
	infrastructure challenges.
	<br>
	<p>At the Design Weekend competition in early 2016,
	we placed third out of 120 teams from across the world. A year later in January 2017,
	we competed at <a href="http://www.spacex.com/hyperloop" target="_newtab">Hyperloop Pod Competition</a> I and took
	home one of two Innovation Awards. We are currently
	creating a light, fast and safe pod to compete in
	Competition II with the goal of performing best
	overall and establishing Badgerloop as a contributor
	in the development of high-speed transportation
	related technology!</p></div>-->

	<div class="dark-body" md-whiteframe="3">
		<p>Founded in the Summer of 2015, Badgerloop is a student organization at the
		<a href="http://www.wisc.edu/" target="_newtab">University of Wisconsin-Madison</a>
		helping determine if <a href="https://en.wikipedia.org/wiki/Hyperloop" target="_newtab">
		hyperloop</a>
		could become reality. We provide members with the unique
		opportunity to work on real world engineering and transportation
		infrastructure challenges. <a href="#/team">Our members</a>
		come from a diverse variety of majors and range in age from
		freshmen to graduate students.</p>
		<br>
		<p>At the Design Weekend competition in early 2016,
		our efforts earned us third place out of 120
		international teams. A year later in January 2017,
		we competed at <a href="http://www.spacex.com/hyperloop" target="_newtab">Hyperloop Pod Competition</a> I and took
		home one of two Innovation Awards. We are currently
		creating a light, fast and safe pod to compete in
		Competition II with the goal of performing best
		overall and establishing Badgerloop as a contributor
		in the development of high-speed transportation
		related technology!</p></div>

</div>
</div>
