<style type="text/css">

#contact-page {
	font-size: 1.25em;
}

#contact-page input[type=text], #contact-page textarea {
	padding: 1em;
	margin: 0.5em 0em;
	box-sizing: border-box;
}

#contact-page input[type=submit] {
	padding: 0.5em 1em; 
	margin: 1em;
	background: #ccc; 
	border: 0 none;
	cursor: pointer;
	border-radius: 5px; 
}

#contact-page .center-la {
	text-align: left;
	display: inline-block;
}

</style>
<div id="contact-page" class="page-content inner2" md-whiteframe="9">
	<md-tabs md-dynamic-height>

		<md-tab label="Student" style="text-align: center">
			<h1>Student Contact</h1>
			<div class="center-la">
				Are you a current or future UW-Madison student interested in joining the team?
				<br>
				Fill out the form below and we'll contact you!
			</div>
			<br><br>
			<form class="center-la">
				<b>Full Name:</b><br>
				<input type="text" name="firstname"><br>
				<b>Wisc Email:</b><br>
				<input type="text" name="wiscmail"><br>
				<b>Major:</b><br>
				<input type="text" name="major"><br>
				<b>Year:</b><br>
				<input type="text" name="year"><br>
				<b>Additional Comments:</b><br>
				<textarea rows="4" cols="58"></textarea><br>
				<input type="submit" value="Submit"/>
			</form>
		</md-tab>

		<md-tab label="Sponsor">
			<h1>Sponsor Contact</h1>
			<div class="center-la">
				Interested in sponsoring Badgerloop?
				<br> 
				We'd love to hear from you, just enter your information below!
			</div>
			<br><br>
			<form class="center-la">
				<b>Organization Name:</b><br>
				<input type="text" name="name"/><br>
				<b>Contact Name:</b><br>
				<input type="text" name="name"/><br>
				<b>Contact Email:</b><br>
				<input type="text" name="name"/><br>
				<b>Contact Number:</b><br>
				<input type="text" name="name"/><br>
				<b>Additional Comments:</b><br>
				<textarea rows="4" cols="58"></textarea><br>
				<input type="submit" value="Submit"/>
			</form>
		</md-tab>

		<md-tab label="Other">
			<h1>Other Contact</h1>
			<div class="center-la">
				Want to know more?
				<br> 
				Fill out the form below and we'll contact you!
			</div>
			<br><br>
			<form class="center-la">
				Full Name:<br>
				<input type="text" name="name"/><br>
				Email:<br>
				<input type="text" name="email"/><br>
				Additional Comments:<br>
				<textarea rows="4" cols="58"></textarea><br>
				<input type="submit" value="Submit"/>
			</form>
		</md-tab>

	</md-tabs>
</div>
