<style type="text/css">

#contact-page {
	font-size: 1.25em;
	width: 100%;
}

#contact-page .center-la {
	text-align: left;
	display: inline-block;
	padding: 0em 1em;
}

#contact-page .form-style {
	background-color: rgba(50, 50, 50, 0.9);
	color: white;
	border-radius: 1em;
	padding: 1em;
	max-width: 90%;
	margin: 1em;
}

.short-input {
	max-width: 35em;
	margin: 0.5em;
}
</style>
<div id="contact-page" class="page-content inner2" md-whiteframe="9">
	<md-tabs md-dynamic-height>

		<md-tab label="{{student.label}}">
			<h1>{{student.title}}</h1>
			<div class="center-la">
				{{student.description}}
			</div>
			<br><br>
			<team-application></team-application>
		</md-tab>

		<md-tab label="{{sponsor.label}}">
			<h1>{{sponsor.title}}</h1>
			<div class="center-la">
				{{sponsor.description}}
			</div>
			<br><br>
			<sponsor-form></sponsor-form>
		</md-tab>

		<md-tab label="{{media.label}}">
			<h1>{{media.title}}</h1>
			<div class="center-la">
				{{media.description}}
			</div>
			<br><br>
			<media-form></media-form>
		</md-tab>

		<md-tab label="{{other.label}}">
			<h1>{{other.title}}</h1>
			<div class="center-la">
				{{other.description}}
			</div>
			<br><br>
			<form class="center-la form-style" md-whiteframe="3" md-theme="dark">

				<md-input-container class="md-block">
					<label>Label</label>
					<input type="text" ng-model="other.input"></input>
				</md-input-container>

				<md-input-container class="md-block">
					<label>Comments</label>
					<textarea></textarea>
				</md-input-container>

				<md-button class="md-raised">Submit</md-button>
			</form>
		</md-tab>

	</md-tabs>
</div>

