<div class="page-content inner2" md-whiteframe="9">
	<h1> IMPORTANT DOCUMENTS</p>

	<a href="http://www.spacex.com/sites/spacex/files/hyperloop_alpha-20130812.pdf" target="_newtab">
		<md-button class="md-raised"><b>HYPERLOOP ALPHA</b></md-button>
	</a>

	<a href="http://www.spacex.com/sites/spacex/files/2016_0831_hyperloop_competition_ii_rules.pdf" target="_newtab">
		<md-button class="md-raised"><b>RULES and REGULATIONS</b></md-button>
	</a>

	<a href="pdf/BadgerloopSponsorPacket.pdf" target="_newtab">
		<md-button class="md-raised"><b>SCHOLARSHIP PACKET</b></md-button>
	</a>

	<a href="https://drive.google.com/open?id=0B3JYQFEVstJTTHJFVmNUb21Zcmc" target="_newtab">
		<md-button class="md-raised"><b>FINAL DESIGN PACKAGE</b></md-button>
	</a>

	<h2>Page still in development.</h2>
</div>
