<div class="page-content inner2" md-whiteframe="9">
	<h1> Competition II</p>
	<md-button target="_blank" class="md-raised" href="http://www.spacex.com/sites/spacex/files/2016_0831_hyperloop_competition_ii_rules.pdf">
		<b>RULES and REGULATIONS</b>
	</md-button>
	<md-button target="_blank" class="md-raised" href="https://files.acrobat.com/a/preview/9bfe6ba5-4d15-4831-8e67-c98a354262b9">
		<b>SPONSORSHIP PACKET</b>
	</md-button>
</div>




<div class="page-content inner2" md-whiteframe="9">
	<h1> Competition I</p>
		<md-button target="_blank" class="md-raised" href="https://files.acrobat.com/a/preview/d745fc1e-fba7-490d-9dd7-c6161e141fb4">
			<b>FINAL DESIGN PACKAGE</b>
		</md-button>
</div>

<div class="page-content inner2" md-whiteframe="9">
	<h1> Design Weekend</p>
</div>

<div class="page-content inner2" md-whiteframe="9">
	<h1> General Hyperloop Info</p>
		<md-button target="_blank" class="md-raised" href="https://files.acrobat.com/a/preview/31be93f0-b5ce-4b2f-9375-625fdc8023f1">
			<b>HYPERLOOP ALPHA</b>
		</md-button>
</div>
