<style>

.dark-body {
	background-color: rgba(50, 50, 50, 0.9);
	color: white;
	display: inline-block;
}

#youtube-videos { width: 100%; }
#youtube-videos div {
	padding: 1em;
	margin: 2em;
	border-radius: 1em;
	vertical-align: middle;
}

#who-what-why { width: 100%; }
#who-what-why div {
	padding: 2em 2em;
	margin: 1em 1em;
	border-radius: 1em;
	vertical-align: middle;
}

#mantra {
	border-radius: 1em;
	padding: 0em 1em;
	margin: 2em;
}

#home-body {
	padding: 0.5em 1em;
	max-width: 80%;
	margin-bottom: 2em;
}

#home-body p {
	font-size: 1.25em;
	text-align: left;
}

@media only screen and (max-width: 768px) {
	#home-body { max-width: 95%; }
	#home-body p { font-size: 1em; }
}

</style>
<div class="page-content inner1" md-whiteframe="9">

	<div id="mantra" class="dark-body">
		<h1>Contributing to the development of Hyperloop technology</h1>
	</div>

	<div id="youtube-videos">
		<div md-whiteframe="6" class="dark-body">
			SpaceX's footage of MIT, Delft, and WARR<br>
	 		<iframe md-whiteframe="3" allowfullscreen
				 	src="https://www.youtube.com/embed/PMd_QGmmkgY">
	 		</iframe>
		</div>
		<div md-whiteframe="6" class="dark-body">
			Our experience at Competition Weekend I<br>
	 		<iframe md-whiteframe="3" allowfullscreen
	 				src="https://www.youtube.com/embed/8_SJmbxhp2Y">
	 	 	</iframe>
		</div>
		<div md-whiteframe="6" class="dark-body">
			Our first pod Reveal Event<br>
	 		<iframe md-whiteframe="3" allowfullscreen
	 				src="https://www.youtube.com/embed/6xuP8K7ROrk">
	 	 	</iframe>
		</div>
	</div>

	<div id="home-body" class="dark-body" md-whiteframe="3">
		<p>Founded in the Summer of 2015 after <a href="http://www.spacex.com/" target="_newtab">SpaceX</a> announced
		the Hyperloop Pod Design Competition, Badgerloop is a student organization at the
		<a href="http://www.wisc.edu/" target="_newtab">University of Wisconsin-Madison</a>
		helping determine if <a href="https://en.wikipedia.org/wiki/Hyperloop" target="_newtab">
		hyperloop</a>
		could become reality. We provide members with the unique
		opportunity to work on real world engineering and transportation
		infrastructure challenges. <a href="#/team">Our members</a>
		come from a diverse variety of majors and range in age from
		freshmen to graduate students.</p>
		<br>
		<p>At the Design Weekend competition in early 2016,
		our efforts earned us third place out of 120
		international teams. A year later in January 2017,
		we competed at <a href="http://www.spacex.com/hyperloop" target="_newtab">Hyperloop Pod Competition</a> I and took
		home one of two Innovation Awards. We are currently
		creating a light, fast and safe pod to compete in
		Competition II with the goal of performing best
		overall and establishing Badgerloop as a contributor
		in the development of high-speed transportation
		related technology!</p>
	</div>

</div>

<image-slideshow></image-slideshow>

<div class="page-content inner2" md-whiteframe="9">
	<figure>
		<img src="../im/elon/freeze_frame.jpg" style="border-radius: 10%; margin-bottom: 1em">
		<figcaption><b>Thanks for checking out our pod, Elon!</b></figcaption>
	</figure>
</div>
