<style>

#main-logo {
	width: 100%;
	margin-bottom: 1em;
}

#youtube-videos {
	width: 100%;
}

#youtube-videos div {
	padding: 1em;
	display: inline-block;
	margin: auto;
	color: white;
	border-radius: 1em;
	background-color: rgba(50, 50, 50, 0.9);
	vertical-align: middle;
}


</style>
<div class="page-content inner1" md-whiteframe="9">
	<img src="../im/logos/full-width.png" id="main-logo">
	<h3>
		Welcome to UW-Madison's
		<a href="http://www.spacex.com/hyperloop" target="_newtab">
			Hyperloop Pod Competition
		</a>
		Team Website!
	</h3>
	<div id="youtube-videos" style="background-color: blue">

		<div md-whiteframe="6">
			SpaceX's footage of MIT, Delft, and WARR<br>
	 		<iframe md-whiteframe="3" allowfullscreen
				 	src="https://www.youtube.com/embed/PMd_QGmmkgY">
	 		</iframe>
		</div>

		<div md-whiteframe="6">
			Our experience at Competition Weekend I<br>
	 		<iframe md-whiteframe="3" allowfullscreen
	 				src="https://www.youtube.com/embed/8_SJmbxhp2Y">
	 	 	</iframe>
		</div>

		<div md-whiteframe="6">
			Our pod Reveal Event<br>
	 		<iframe md-whiteframe="3" allowfullscreen
	 				src="https://www.youtube.com/embed/6xuP8K7ROrk">
	 	 	</iframe>
		</div>

	</div>
</div>

<image-slideshow></image-slideshow>
