<style>
.media-logos {
	position: relative;
	margin-top: 0.5em;
	display: inline-block;
}

.media-logos img {
	height: 125px;
	margin: 1em;
}
</style>

<div class="page-content inner2" md-whiteframe="9">
	<h1>Image Slideshow</h1>
	<p>Coming soon!!</p>
</div>

<div class="page-content inner2" md-whiteframe="9">
	<h1>Featured In</h1>
	<div class="media-logos" ng-repeat="source in articles">
		<a ng-href="{{source.site}}" target="_newtab"><img ng-src="../im/FI-Logos/{{source.name}}.png"></a>
		<md-tooltip md-direction="bottom">
			{{source.title}}
		</md-tooltip>
	</div>
</div>
