<style type="text/css">

html {
  height: 100%;
  overflow: hidden;
 
 background-position: center; 
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
   font-size: 220%
}

p {
  font-size: 120%;
  line-height: 150%;
  color: #333;
}


.slide {
  position: relative;
  padding: 25vh 10%;
  max-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

.imgDrop{
   transform: translateZ(.3px) scale(.75) ;
   margin: auto;
    width: 50%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}


.imgNorm {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.imgNorm2 {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
 transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}



/*img:last-of-type:not(.imgDrop) {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}
*/

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 45%;
  padding: 3%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  margin-left: auto;
  margin-right: 0;
}

.title2 {
  width: 55%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  margin-left: 0;
  margin-right: auto;
}


.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {  
  background-image: url('./../im/action/HyperWallpaper_1.jpg');
   background-attachment: fixed;  
   z-index:0;
}


#slide1 {

  background-image: url('./../im/background/comp.jpg');
  
}

#slide2 {
  background-image: url('./../im/action/Elon.jpg');
background-size: 100%;
}

#slide3 {
  background-image: url('./../im/background/backdrop.jpg');
  
  }

#slide4 {
  background-image: url('./../im/background/hyperBanner.jpg');
   min-height: 520px;

}
</style>

 <div id="title" class="slide header">
<img class="imgDrop" src="./../im/action/Picture1.png" >
</div>

<div id="slide1" class="slide">
  <div class="title2">
    <h1>Slide 1</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Slide 2</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
  <img class="imgNorm" src="./../im/action/DSC_0414.jpg">
  <img class="imgNorm2" src="./../im/action/DSC_0431.jpg"> 
</div>

<div id="title" class="slide header">
<img class="imgDrop" src="./../im/background/BadgerLoop Pod Rendering.png" >
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Slide 3</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
 
</div>

<div id="slide4" class="slide header">
    <h1></h1>
</div>



