<style>

.reveal-photo {
	max-width: 91%;
	max-height: 94%;
	border-radius: 2em;
	 padding:1px;
	 border:2px solid #021a40;
}


.reveal-event-body{
	font-size: 1.2em;
	margin: 1em;
        background-color: rgba(50, 50, 50, 0.9);
	padding: 0.5em 1.5em;
        word-wrap: normal;
        float: center;
        max-width: 90%;
        display: inline-block;
}



.reveal-event-overlay li {
	text-align: left;
	margin-left: .5em;
}

.reveal-event-overlay{
	background-color: white;
	max-height: 95%;
	padding: .25em 1em;
}

</style>





<div class="page-content inner1" md-whiteframe="9">


<img class="reveal-photo" src="../im/reveal/Iso-V9.png">

 <div class="reveal-event-body" md-whiteframe="3">
                <div class="reveal-event-overlay">
                <h2> Our Reveal Event </h2>
                <h3> Want to see our Competition II pod? </h3>

<p> <b>Date:</b> Saturday, June 17th from 3-4PM </p>
                        <p><b>Location:</b>  <a href="https://www.google.com/maps/place/Mechanical+Engineering+Building,+1513+University+Ave,+Madison,+WI+53706/@43.0727717,-89.4146364,17z/data=!3m1!4b1!4m5!3m4!1s0x8807acc6ca2fa4f3:0xa6d5fc3cf7eff093!8m2!3d43.0727652!4d-89.4125831" target="_blank">Mechanical Engineering building</a> at UW-Madison.
</p>                               

<p>
 Parking can be found nearby at <a href="https://www.google.com/maps/place/Parking+Lot+17,+Madison,+WI+53706/@43.0723938,-89.4123909,17.8z/data=!4m13!1m7!3m6!1s0x8807acc6ca2fa4f3:0xa6d5fc3cf7eff093!2sMechanical+Engineering+Building,+1513+University+Ave,+Madison,+WI+53706!3b1!8m2!3d43.0727652!4d-89.4125831!3m4!1s0x8807acc6a1915cf5:0x34d3db40e7bded43!8m2!3d43.0720777!4d-89.4116219" target="_blank">Lot 17</a> or
                                        below <a href="https://www.google.com/maps/place/Union+South/@43.0715159,-89.4101168,17.8z/data=!4m13!1m7!3m6!1s0x8807acc6ca2fa4f3:0xa6d5fc3cf7eff093!2sMechanical+Engineering+Building,+1513+University+Ave,+Madison,+WI+53706!3b1!8m2!3d43.0727652!4d-89.4125831!3m4!1s0x0:0x6f185049ff291ef7!8m2!3d43.0717877!4d-89.4078326" target="_blank">Union South</a></p>.
                <br>


                <p>This event is a great opportunity to:</p>
                <li>See our brand new pod </li>
                <li>Meet the members of Badgerloop </li>
                <li>Ask questions about the making of the pod and Hyperloop technology </li>
                <li>Sit inside the pod </li>
                        <br>
                        <br>

                        <p style="padding: 1.5em;"> Have questions? Feel free to <a href="#/contact" target="_blank">reach out</a> to us! We are happy to help </p>


        </div>

</div>
</div>

