<style>
.sponsor-logos {
	position: relative;
	display: inline-block;
}

.sponsor-logos img {
	height: 8em;
	margin: 1em;
}

.line {
	font-size: 1.5em;
	background-color: rgba(50, 50, 50, 1);
	padding: 0.5em 1.125em;
	color: white;
	border-radius: 1.25em;
}

.box {
	width: 100%;
	height: 1em;
	border-bottom: 0.4em double rgba(50, 50, 50, 0.9);
	margin-bottom: 2em;
	background-clip: padding-box;
	text-align: center;
}
</style>
<div class="page-content inner2" md-whiteframe="9">
	<h1>Our Sponsors</h1>
	<br>
	<div ng-repeat="tier in logos">
		<div class="box">
			<span class="line" md-whiteframe="6">{{tier.title}}</span>
		</div>
		<div class="sponsor-logos" ng-repeat="sponsor in tier.array">
			<a ng-href="{{sponsor.site}}" target="_newtab"><img ng-src="../im/sponsor/{{sponsor.img}}.png"></a>
			<md-tooltip md-direction="bottom">{{sponsor.name}}</md-tooltip>
		</div>
	</div>
</div>
