<style>
.sponsor-logos {
	position: relative;
	margin-top: 0.5em;
	display: inline-block;
}

.sponsor-logos img {
	height: 125px;
	margin: 1em;
}

.line {
	padding: 0;
	border: .063em solid;
	color: #333;
	text-align: center;
}

.box {
    background-color:white;
		color: black;
    width:10em;
    height: 1.875em;
    position:relative;
		float: center;
    left: 45%;
    bottom:90%;
    padding-top:1.250em;

}

</style>
<div class="page-content inner2" md-whiteframe="9">

	<h2>Our Sponsors</h2>


	<!--<a href="pdf/BadgerloopSponsorPacket.pdf" target="_newtab">
		<md-button class="md-raised"><b>SPONSORSHIP PACKET</b></md-button>
	</a>-->

	<div class="box"><b>Platinum Sponsors</b></div>
	<hr class="line">
	<div class="sponsor-logos" ng-repeat="sponsor in platinum_logos">
		<a ng-href="{{sponsor.site}}" target="_newtab"><img ng-src="../im/sponsor/{{sponsor.img}}.png"></a>
        <md-tooltip md-direction="bottom">{{sponsor.name}}</md-tooltip>
			</div>

	<div class="box"><b>Gold Sponsors</b></div>
	<hr class="line">
	<div class="sponsor-logos" ng-repeat="sponsor in gold_logos">
		<a ng-href="{{sponsor.site}}" target="_newtab"><img ng-src="../im/sponsor/{{sponsor.img}}.png"></a>
        <md-tooltip md-direction="bottom">{{sponsor.name}}</md-tooltip>
			</div>

	<div class="box"><b>Silver Sponsors</b></div>
	<hr class="line">
	<div class="sponsor-logos" ng-repeat="sponsor in silver_logos">
		<a ng-href="{{sponsor.site}}" target="_newtab"><img ng-src="../im/sponsor/{{sponsor.img}}.png"></a>
        <md-tooltip md-direction="bottom">{{sponsor.name}}</md-tooltip>
			</div>

	<div class="box"><b>Bronze Sponsors</b></div>
	<hr class="line">
	<div class="sponsor-logos" ng-repeat="sponsor in bronze_logos">
		<a ng-href="{{sponsor.site}}" target="_newtab"><img ng-src="../im/sponsor/{{sponsor.img}}.png"></a>
        <md-tooltip md-direction="bottom">{{sponsor.name}}</md-tooltip>
			</div>

</div>
