<style>
*.card {
        border-radius: 2em;
        width: 20em;;
        color: white;
        margin: 1em;
        background-color: rgba(0, 0, 0, 0.7);
        display: inline-block;
}

.mail_icon{
	color: #A7A7A7;
	margin-left: .25em;
	margin-right: .25em;
}

.card .img {
        border-radius: 50%;
	max-width: 60%;
        margin-top: 1.5em;
}

.linkedin_icon{
  width: 1.2em;
  height: 1.2em;
  margin-left: 1em;
  margin-top: .2em;
  margin-bottom: .3em;
}

</style>

<div class="page-content inner2" md-whiteframe="9">
	<h1>Meet the Team Leads</h1>
	<div class="card" md-whiteframe="3" ng-repeat="lead in team_leads">
		<img class="card img" md-whiteframe="3" ng-src="im/team_leads/{{lead.headshot}}" alt>
		<h2><b>{{lead.full_name}}</b></h2>
		<div class="info">
			<b>Role:</b> {{lead.position_name}}<br>
			<b>Major:</b> {{lead.major}}<br>
			<b>Year:</b> {{lead.year}}<br>
			<a ng-href="{{lead.linkedin}}" target="_newtab"><img class="linkedin_icon" ng-src="../im/logos/linkedin_logo.png"></a>
			<a ng-href="mailto:{{lead.email}}"><i style="color: #A7A7A7; margin-left: .25em;" class="material-icons">email</i></a>
      <md-button style="margin-bottom: 1.4em; color: #A7A7A7;" ng-click="showPanel(lead)">
    		Team Info
    	</md-button><br>
    </div>
	</div>
</div>


<div class="page-content inner2" md-whiteframe="9">
	<div>
		<h1>Interested in joining the team?</h1>
		<center><p style="max-width: 95%;padding: .5em .5em;background-color: rgba(50, 50, 50, 0.9);color: white;font-size: 1.2em;word-wrap: normal;">
		Welcome! We have <b>plenty</b> of work to get done and would love to have your help. Let us know which subteams interest you by filling out our <a style="color: red;" href="#/contact" target=_blank> contact form </a> so that we can get you started as soon as possible!
		</p>
		</center>
	</div>
</div>


